/*Cuando la pantalla tenga de 600px en adelante se colocará todo el css en este bloque*/
.mostly-fluid .c2,
.mostly-fluid .c3,
.mostly-fluid .c4 {
	width: 50%;
}

.layout-shifter .c1 {
	width: 25%;
}

.layout-shifter .c4 {
	width: 75%;
}

.layout-shifter .c5 {
	width: 100%;
}
